{% extends "shop/layout.html" %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        {% for wish in wishlist %}
        <div class="col-4 mx-auto">
            <div class="card border-dark bg-light p-4 m-2">
                <a href="{% url 'shop:product' wish.product.id %}">
                <img class="card-img-top mx-auto d-block img-thumbnail" style="height: 250px; width: 200px;" src="{{wish.product.image.url}}">
                <div class="card-body">
                    <h4 class="card-title text-center fs-2">{{ wish.product.title }}</h4>
                    <p class="card-text">Price: &#8377;{{ wish.product.price }}<br>Category: {{ wish.product.category }}</p>
                </div>
            </a>
        </div>
    </div>

    {% empty %}
    <p class="alert alert-primary fs-1 text-center" role="alert">There is nothing in Cart.</p>
    {% endfor %}
</div>
</div>

{% endblock %}