{% extends "shop/layout.html" %}
{% block body %}
    {% if message %}
    <div>{{ message }}</div>
    {% endif %}
    <div class="card border-dark p-5 mx-auto my-5" style="width: 30rem;">
        <h4 class="text-center">
            Register
        </h4>
        <form action="{% url 'users:register' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <div class="text-end mt-4">
                <button class="btn btn-dark btn-md" type="submit">Register</button>
            </div>
            </form>
    </div>
{% endblock %}