{% extends "shop/layout.html" %}

{% block body %}

<p>Purchase process for {{ product.title }}</p>

<form action="{% url 'shop:purchase' product.id %}" method="post">
    {% csrf_token %}
    <label for="address">Choose a delivery address</label>
    <select id="address" name="address">
        <option value="">--select address--</option>
        {% for address in addresses %}
        <option value="{{ address.id }}">{{ address.address }}</option>
        {% endfor %}
    </select>
    <label for="quantity">Quantity</label>
    <input type="integer" id="quantity" name="quantity">
    <button type="submit">Buy</button>
</form>

{% endblock %}